<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&family=Lexend:wght@500;800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Tilt+Neon&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <title> {% block title %} {% endblock title %} YOLO APP</title>
</head>
<body>
{% block body %}
    
{% endblock body %}
</body>

</html>