{% extends "base.html" %}
{% block title %} Home{% endblock title %} 
{% block body %}
    <header class="header">
        <nav class="navbar">
            <ul>
                <a href="/">Contact Us</a>
                <a href="/">Services</a>
                <a href="/">About</a>
                <a href="/">Home</a>
                <div class="button"><button>Sign in</button></div>
            </ul>
        </nav>
    </header>
    <section class=section3>
        <div class="left1">
            <div class=pic3><img src="{{url_for('static',filename='images/Rectangle_36.png')}}"></div>
        </div>
        <div class="right1">
            <div class="quote abc2">Free Consultation</div>
            <div class="text2 abc3">Register here for doctor Registeration</div>
                <form action="/" method="POST">            
                    <input type="text" class="input" id="username" placeholder="  Enter username" name="username" required >
                    <input type="email" class="input" id="email" placeholder="  Enter Your Email" name="email" required>
                    <input type="text" class="input" id="firstname" placeholder="  First Name" name="firstname" required >
                    <input type="text" class="input" id="lastname" placeholder="  Last Name" name="lastname" required >
                    <input type="text" class="input" id="phone" name="phone" placeholder= "  Your phone Number" required>
                    <input type="text" class="input" id="spec" name="spec" placeholder= "  Your Specialization" required>
                    <input type="submit" value="Get a Free Consultation"/>

                </form>
                
        </div>
    </section>
    <footer>
    </footer>
{% endblock body %}