{% extends "base.html" %}
{% block title %} Home{% endblock title %} 
{% block body %}

    <header class="header">
        <nav class="navbar">
            <ul>
                <a href="/">Contact Us</a>
                <a href="/">Services</a>
                <a href="/">About</a>
                <a href="/">Home</a>
                <div class="button"><button>Sign in</button></div>
            </ul>
        </nav>
    </header>
    <section class="section">
        <div class="left">
            <div class="quote">“ Stay Informed, Stay Healthy        Explore YOLO Today ”</div>
            <div class="text2">
                This websites aim to empower individuals to take control of their health by offering access to medical expertise, educational content, and tools for managing health-related concerns
            </div>
            <div class="button1"><button>Start Chat</button></div>
        </div>
        <div class="right">
            <image src="{{url_for('static',filename='images/Ellipse_1.png')}}" class="pic1">
            <image src="{{url_for('static',filename='images/female_doctor_hospital_1.png')}}" class="pic2">    
        </div>
        
    </section>
    
    <footer>

    </footer>
{% endblock body %}